@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color: white;
  font-weight: bold;
}

@layer base {
  body {
    @apply bg-slate-800;
  }
  button {
    @apply border rounded-xl p-2 uppercase text-sm hover:brightness-50;
  }
  .splitter {
    @apply h-[1px] bg-slate-100 my-2;
  }
}
